@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap");

/*Edição da Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
  background-color: #101014;
}
::-webkit-scrollbar-thumb {
  background-color: #242424;
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/*  navbar   inicio*/
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  z-index: 999;
  transition: all 0.3s ease;
  background-color: #00000000;
}
.navbar.sticky {
  background-color: #080808;
  padding: 15px 0;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
}
.navbar .logo a span {
  color: #2b4c7e;
  transition: all 0.3s ease;
}
header .sticky .logo a span {
  color: #2b4c7e;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  text-align: right;
}
.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #2b4c7e;
}
header.sticky .menu li a:hover {
  color: #2b4c7e;
}

/*  Menu  Mobile  */
.menu-btn {
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  width: 41px;
  height: 45px;
  right: 30px;
  bottom: 30px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #2b4c7e;
  border-radius: 6px;
  font-size: 30px;
  z-index: 9999;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
