@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap");

/*Edição da Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
  background-color: #101014;
}
::-webkit-scrollbar-thumb {
  background-color: #242424;
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/*  navbar   inicio*/
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  z-index: 999;
  transition: all 0.3s ease;
  background-color: #00000000;
}
.navbar.sticky {
  background-color: #080808;
  padding: 15px 0;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
}
.navbar .logo a span {
  color: #2b4c7e;
  transition: all 0.3s ease;
}
header .sticky .logo a span {
  color: #2b4c7e;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  text-align: right;
}
.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #2b4c7e;
}
header.sticky .menu li a:hover {
  color: #2b4c7e;
}

/*  Menu  Mobile  */
.menu-btn {
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  width: 41px;
  height: 45px;
  right: 30px;
  bottom: 30px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #2b4c7e;
  border-radius: 6px;
  font-size: 30px;
  z-index: 9999;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
/*  todos os codigos similares  */
section {
  padding: 100px 0;
}
section .title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
  color: #f2f2f2;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #f2f2f2;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  background: #fff;
  color: #f2f2f2;
  padding: 5px;
  transform: translateX(-50%);
}
.about,
.projetos,
.services,
.skills,
.teams,
.contact,
footer {
  font-family: "Roboto", sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content,
.projetos .project-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/*  Home   inicio  */
.home {
  display: flex;
  background: url(../public/banner.jpg) no-repeat;
  background-color: #101014;
  background-size: cover;
  height: 100vh;
  color: #f2f2f2;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 150px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 500;
  margin-left: -3px;
}
.home .home-content .text-3 {
  padding-top: 5px;
  font-size: 22px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: #2b4c7e;
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  background: #2b4c7e;
  color: #f2f2f2;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 50px;
  border: 3px solid #2b4c7e;
}
.home .home-content a:hover {
  color: #2b4c7e;
  background: none;
}

.home .typing {
  font-size: 33px;
}

/*  sessão sobre  */
.about {
  background-color: #080808;
}
.about .title::after {
  content: "Quem somos";
  font-size: 20px;
  background-color: #080808;
  color: #f2f2f2;
}

.about .about-content .left {
  width: 45%;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #f2f2f2;
}
.about .about-content .right .text span {
  color: #2b4c7e;
}
.about .about-content .right p {
  text-align: justify;
  font-size: 18px;
}
.about .about-content .right a {
  display: inline-block;
  background: #2b4c7e;
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 50px;
  border: 2px solid #2b4c7e;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: #2b4c7e;
  background: none;
}
.about .about-content .left img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}
.about .about-content .right p {
  color: #dfdfdf;
}

/* Turma */
